@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("img/background.jpg");
}

::selection {
  background: rgba(188, 26, 26, 0.3);
}

.container-fluid {
  margin-top: 20px;
}

.navbar-dark {
    margin-top: -2%;
  }
  
  .nav-link {
    color: white;
    padding-top: 15%;
  }

  .row-bio{
    display: flex;
    justify-content: space-evenly;
  }
.card-bio{
  margin-top: 2%;
}

.card-bio img{
  margin: 5% 0% 0% 0%;
  max-width: 270px;
  max-height: 340px;
}

.output-aboutus{
  border: 3px white solid;
  width: 85%;
  background-color: #212529;
  color: white;
  font-size: 18px;
  border-radius: 5%;
  padding: 2%;
}

.aboutus-txt{
  display: flex;
  justify-content: center;
}