@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("img/background.jpg");
}

::selection {
    background: rgba(188, 26, 26, 0.3);
}

.container-fluid {
    margin-top: 20px;
}

.card-header {
    color: white;
}

.card-kerkesa {
    margin-left: auto;
    margin-right: auto;
}

.butonat{
    display: flex;
    justify-content: space-evenly;
}

.carousel-fade{
    max-width:1000px;
    max-height: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgb(0, 0, 0) 0px 19px 38px, rgb(0, 0, 0) 0px 15px 12px;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.carousel-inner{
    border-radius: 15px;
}